%nav.breadcrumbs{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
        %li.breadcrumb-item
            =link_to('Home', root_path) 
        %li.breadcrumb-item
            =link_to('Artists', artists_path)
        %li.breadcrumb-item
            =@artist.name
    

%h1= @artist.name

%h2 About
%p= @artist.biography

%h2 Albums
%ul
    - @albums.each do |album|
        %li= link_to album.name, album_path(album)