
- if @albums.empty?
    %nav.breadcrumbs{"aria-label" => "breadcrumb"}
        %ol.breadcrumb
            %li.breadcrumb-item
                =link_to('Home', root_path) 
            %li.breadcrumb-item
                =link_to('Artists', artists_path)
    %h1 Failed to find an album :(
    %img(src="https://img.buzzfeed.com/buzzfeed-static/static/2015-06/24/19/campaign_images/webdr09/this-may-be-this-cutest-saddest-cat-ever-2-4626-1435188004-0_dblbig.jpg")
- else
    %nav.breadcrumbs{"aria-label" => "breadcrumb"}
        %ol.breadcrumb
            %li.breadcrumb-item
                =link_to('Home', root_path) 
            %li.breadcrumb-item
                =link_to('Artists', artists_path)
            %li.breadcrumb-item
                =@artist.name
        
    .container
        .row
            .col-md-12
                %h1= @artist.name
        .row
            .col-md-12
                %h2 About
                %p= @artist.biography
        .row
            .col-md-12
                %h2 Albums
        .row.justify-content-center
            .card-deck
                - @albums.each do |album|
    
                    .card{:style => '18rem'}
                        %img.card-img-top{:src => 'https://coverartarchive.org/release/' + album.musicbrainz_id + "/front-250.jpg",
                                            :alt => 'Card image cap'}
                        .card-header
                            // Header
                            %i.fas.fa-star
                            %i.fas.fa-star
                            %i.fas.fa-star
                            %i.fas.fa-star-half
                        .card-body
                            %h5.card-title
                                =link_to(album.name, album_path(album))
                            %p.card-text
                                %strong 
                                    Released: 
                                2012
                                %br
                                %strong
                                    Label: 
                                No Sleep Records
                        .card-footer.text-muted
                            12 ratings
