%head
%body.background
    .sideNav
        .icon
            MR ICON HERE
        %br
        = link_to "Artists", artists_path, :class => 'btn'
        %br
        = link_to "Albums", albums_path, :class => 'btn' 
        %br
        .btn
            More soon!
        %br
    .mainContainer
        %br
        %br
        %br
        .highestRated
            Highest Rated Content goes here
        %br
        %br
        %br
        .recentlyAdded
            Recently Added Content goes here