%head
%body.background
    .mainContainer
        %br
        %br
        %br
        .highestRated
            Highest Rated Content goes here
        %br
        %br
        %br
        .recentlyAdded
            Recently Added Content goes here