%head
%body.background
    .topNav
        .logo
        
    %ul
        %li= link_to "View all Albums", albums_path
        %li= link_to "View all Artists", artists_path
    
    %h
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra dolor at mauris laoreet commodo. Cras interdum risus ac nibh rhoncus, viverra efficitur odio pharetra. Nulla hendrerit ex id nisl sollicitudin lacinia. In viverra diam id tristique dictum. Aliquam feugiat rhoncus erat ut maximus. Cras id tempor risus. Vivamus id luctus erat. Aenean et odio volutpat, facilisis elit sit amet, faucibus dui. Cras pellentesque bibendum libero viverra sollicitudin. Morbi consequat erat ut neque pulvinar fringilla. Vivamus cursus scelerisque nunc vitae tempor. Duis molestie egestas metus, sed bibendum magna consectetur ut. Duis in tellus quis turpis lobortis consequat. Quisque commodo id metus quis posuere. Integer consectetur ultrices sem in scelerisque. Aliquam vel libero sed lectus convallis semper vel sed magna.
    %br
    %br
    %h
    In lacus nisi, ullamcorper vel tincidunt eu, cursus at elit. Donec nec dictum leo. Quisque eget ante neque. Vivamus eget consectetur velit, eget blandit erat. Nullam vulputate ipsum tortor, vitae gravida ipsum aliquam ac. Mauris turpis tortor, tempus sed placerat ut, efficitur sit amet arcu. Sed a nisi in erat pharetra tristique. Quisque id lacinia est, ut feugiat velit. Quisque consequat hendrerit tristique. Integer lorem quam, ullamcorper in vestibulum at, fringilla quis nunc.
    %br
    %br
    %h
    Vivamus blandit interdum velit, id suscipit libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus nulla eu libero porta mattis. Aenean rhoncus porttitor maximus. Cras at vestibulum nibh, sed fringilla massa. Pellentesque faucibus a metus sit amet ullamcorper. Duis rutrum eleifend nisl, vitae consectetur nunc. Curabitur eget auctor odio. Maecenas fermentum mauris a pharetra accumsan. Phasellus laoreet blandit efficitur. Suspendisse egestas quam a neque euismod, vitae vulputate sapien hendrerit.
    %br
    %br
    %h
    Etiam et nisl ornare, vulputate lorem vitae, placerat lectus. Sed sit amet facilisis neque. Aliquam aliquet dolor eros, vel semper sapien porta blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla sagittis mollis. Fusce cursus, orci vitae maximus dapibus, leo metus porttitor est, nec luctus tellus nibh ac tortor. In lacinia, orci eget rutrum hendrerit, urna risus vestibulum ante, sit amet imperdiet lacus neque in mauris. Nam dictum mollis ligula, sit amet feugiat felis hendrerit vel. Fusce viverra consequat luctus. Suspendisse id magna quis elit aliquet vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam a interdum magna. Suspendisse et suscipit risus. Donec consectetur tempor enim vitae iaculis.
    %br
    %br
    %h
    Nunc rutrum finibus finibus. Fusce fermentum et tortor sed condimentum. Vestibulum sit amet lorem condimentum, condimentum dolor eu, posuere neque. Ut in varius magna. Nam quis neque dui. Sed malesuada nisi at venenatis sollicitudin. Vestibulum ultrices volutpat tempus. Donec elementum dolor vitae est ultricies, sit amet condimentum tortor viverra. Nulla finibus efficitur erat, sed vulputate risus mollis at. Nunc magna risus, tincidunt ut venenatis in, condimentum sit amet neque. 