/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import "bootstrap-sprockets"
// @import "bootstrap"

// body {
//     font-family: "Lato", sans-serif;
// }

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    nav {
        height: 50%;
    }
    .bottom {
        position: relative;
        height: 50%;
        .bottom-content {
            position: absolute;
            bottom: 0;
            color: white;
            margin-bottom: 20px;
            a:link, a:visited, a:hover, a:active {
                color: white;
            }

        }
    }
}

nav.breadcrumbs {
    margin-top: 15px;
}

// .sidenav a {
//     padding: 6px 8px 6px 16px;
//     text-decoration: none;
//     font-size: 25px;
//     color: #818181;
//     display: block;
// }

// .sidenav a:hover {
//     color: #f1f1f1;
// }

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    //font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.modal {
    height: 135px;
    width: 345px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e9ecef;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    a#close {
        float: right;
        padding-right: 10px;
    }
}
