// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body { 
    height: 100%;
    width: 100%;
    margin: 0;
}

.background {
    background-color: lightblue;
    margin: 0;    
}

.topNav {
    background-color: lightgreen;
    float: left;
    float: top;
    width: 100%;
    margin-top: 0;
    height: 20%;
}

.logo {
    background-image: url("masterrater.png");
    // background-color: lightpink;
    height: 100%;
    width: 615px;
    margin: 0 auto;
}